<nav>
    <ul>
        <li>
            <a href="?page=home">
                Home
            </a>
        </li>
        <li>
            <a href="?page=layout">
                Layout
            </a>
        </li>
    </ul>
</nav>